@import url("styles/header.css");
@import url("styles/holla.css");
@import url("styles/carrosel.css");
@import url("styles/container.css");
@import url("styles/rodape.css");

:root {
    --cor-de-fundo-escuro: #333;
    --cor-fundo-verde: #dff0d8;
    --branco: #FFFFFF;
    --fundo: #9f9f9f;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;
  }
  