@import url("styles/header.css");
@import url("styles/holla.css");

:root {
    --cor-de-fundo-escuro: #333;
    --cor-fundo-verde: #dff0d8;
    --branco: #FFFFFF;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  