.container{
    margin: 10px 10px 0 10px;
    border-radius: 15px;
    padding: 15px;
    background-color: var(--branco);
}

.titulo-container{
    margin: 0;
}

.div-textos{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.texto-container{
 margin: 15px;
}

.apoiadores{
    flex-direction: column;
}

.apoiadores img{
    width: 800px;
}

@media (min-width: 768px){
    .rst{
        display: flex;
        flex-direction: column;
    }
    .container{
        display: flex;
        align-items: center;
    }

    .div-textos{
        text-align: center;
        width: 500px;
    }

    .div-textos-inv{
        order: 2;
    }

}