.voltarTop{
    display: flex;
    width: 60px;
    justify-content: center;
}

.div-rodape{
    background-color: var(--cor-de-fundo-escuro);
    display: flex;
    color: var(--branco);
    flex-direction: row;
    align-items: center;

}

.logo-rodape{
    width: 50px;
}

.rodape a{
    display: flex;
    justify-content: center;
}