.voltarTop{
    display: flex;
    width: 60px;
    justify-content: center;
}

.div-rodape{
    background-color: var(--cor-de-fundo-escuro);
    display: flex;
    color: var(--branco);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.logo-rodape{
    width: 50px;
    margin: 10px;
}

.rodape a{
    display: flex;
    justify-content: center;
}


@media (min-width: 768px){
    .div-rodape{
        justify-content: flex-start;
    }
}